include README.md
include LICENSE
include requirements.txt
recursive-include examples *.example *.json *.toml
recursive-include systems *.py
recursive-include transports *.py
recursive-include utils *.py
recursive-include core *.py
