{
  "openapi": "3.0.3",
  "info": {
    "title": "Zi Wei Dou Shu & BaZi Chinese Astrology MCP",
    "version": "1.1.0",
    "description": "Streamable HTTP MCP server for Zi Wei Dou Shu and Bazi chart calculations. Discovery requests are free; each successful tools/call creates one tool-call billing event."
  },
  "servers": [
    {
      "url": "https://spyfree--mingli-mcp.apify.actor"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Check server health",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "healthy" },
                    "transport": { "type": "string", "example": "http" },
                    "systems": {
                      "type": "array",
                      "items": { "type": "string" },
                      "example": ["ziwei", "bazi"]
                    },
                    "rate_limiting": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Send a JSON-RPC request to the MCP server",
        "description": "Use tools/list to discover tools or tools/call to run one. A successful tools/call creates one billable tool-call event.",
        "operationId": "postMcpRequest",
        "security": [
          { "bearerAuth": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/JsonRpcRequest" },
              "examples": {
                "listTools": {
                  "summary": "List available MCP tools (free)",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/list",
                    "params": {}
                  }
                },
                "baziChart": {
                  "summary": "Generate a Bazi Four Pillars chart",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "get_bazi_chart",
                      "arguments": {
                        "date": "1992-08-16",
                        "time_index": 4,
                        "gender": "女",
                        "calendar": "solar",
                        "format": "json"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC result or MCP error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JsonRpcResponse" }
              }
            }
          },
          "400": { "description": "Unsupported MCP protocol version or malformed request" },
          "403": { "description": "Origin is not allowed" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Apify API token"
      }
    },
    "schemas": {
      "JsonRpcRequest": {
        "type": "object",
        "required": ["jsonrpc", "method"],
        "properties": {
          "jsonrpc": { "type": "string", "enum": ["2.0"] },
          "id": { "oneOf": [{ "type": "integer" }, { "type": "string" }] },
          "method": { "type": "string", "example": "tools/list" },
          "params": { "type": "object", "additionalProperties": true }
        }
      },
      "JsonRpcResponse": {
        "type": "object",
        "required": ["jsonrpc"],
        "properties": {
          "jsonrpc": { "type": "string", "enum": ["2.0"] },
          "id": { "oneOf": [{ "type": "integer" }, { "type": "string" }, { "type": "null" }] },
          "result": { "type": "object", "additionalProperties": true },
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "integer" },
              "message": { "type": "string" }
            }
          }
        }
      }
    }
  }
}
